html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
    direction: ltr;
	
}
.oz-body-wrap{
    margin: 50px 30vw;
}
.banner-area, .about-area, .feature-area .overlay-bg, footer {
    background: #13293D;
}
footer{
    direction: rtl;
}
.english footer{
    direction: ltr;
}
.banner-area, .about-area, .feature-area .overlay-bg{
    border: 0.5px solid #F2EDE6;
}
.single-feature{
    background-color: transparent;
    padding: 0;
    width: auto;
}
.feature-area{
    padding: 3vw 3vw 3vw 6vw;
    padding-bottom: 0;
}
.feature-area .icon{
    background-color: transparent;
    font-size: 4vw;
    padding: 0;
}
.feature-area .icon:hover{
    background-color: transparent;
}
.story-content h2{
    color: #F2EDE6;
}
i{
    color: #F2EDE6;
}
.banner-left{
    margin-top: 0;
}
.about-area {
    padding-top: 0;
}
.about-area .story-content h2{
    font-size: 2vw;
    text-align: center;
}
.feature-area .desc{
    margin-top: 2vw;
    text-align: center;
}
.feature-area .desc h2{
    color: #F2EDE6;
    font-size: 1vw;
    margin-bottom: 3vw;
}
.more{
    background: #13293D;
    padding: 10px 0;
    color: #F2EDE6;
    font-size: 2vw;
    border-bottom: 1px solid white;
}
.fa-angle-left{
    margin: 0 10px;
}
.long_road {
    display: none;
    direction: rtl;
    margin: 2vw 5vw;
    font-size: 2vw;
    line-height: 2.5vw;
}
.direction_short_road {
    cursor: pointer;
    text-align: center;
}
.banner-area .fullscreen {
    height: 30vw !important;
}
.text-uppercase{
    text-transform: initial !important;
}
.fa{
    margin-right: 15px;
}
.footer-bottom .footer-text, .footer-bottom .footer-text a:hover, .footer-bottom .footer-text a, .footer-bottom .footer-text i{
    color: white;
}
.footer-bottom .footer-text a:hover, .footer-bottom .footer-text a, .footer-bottom .footer-text i{
    border-bottom: 1px solid white;
}
.footer-bottom{
    padding: 20px 0;
    border: 0;
    margin: 1vw 0;
}
.english .feature-area .desc{
    margin-top: 0vw;
}
.english .single-feature{
    margin: 0 -1vw;
}
.whitehill .banner-left{
    width: 70%;
}
.whitehill .about-area{
    padding: 12px 0;
}
.shira .h2-des{
    font-size: 1.5vw;
}
.shira .feature-area{
    padding: 3vw 6vw 0vw 0vw;
}
.shira .feature-area .desc h2{
    margin-bottom: 3vw;
}

@media (max-width: 1440px){
    .english .single-feature{
        margin: 0 -2vw;
    }
    .shira .h2-des{
        font-size: 1.5vw;
    }
    .shira .feature-area{
        padding: 3vw 5vw 0vw 0vw;
    }
    .shira .feature-area .desc h2{
        margin-bottom: 3vw;
    }
}

@media (max-width: 1024px){
    .oz-body-wrap{
        margin: 50px 20vw;
    }
    .banner-area .fullscreen {
        height: 45vw !important;
    }
    .about-area .story-content h2, .more{
        font-size: 3vw;
    }
    .feature-area .icon{
        font-size: 7vw;
    }
    .feature-area .desc h2{
        font-size: 2vw;
    }
    .english .feature-area .desc h2{
        font-size: 1vw;
    }
    .english .single-feature{
        margin: 0 -1vw;
    }
    .shira .h2-des{
        font-size: 2vw;
    }
    .shira .feature-area{
        padding: 7vw 6vw 0vw 0vw;
    }
    .shira .feature-area .desc h2{
        margin-bottom: 7vw;
    }
}

@media (max-width: 767px){
    .oz-body-wrap{
        margin: 0px;
    }
    .banner-area .fullscreen {
        height: 80vw !important;
    }
    .story-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .about-area .story-content h2, .more{
        font-size: 5vw;
    }
    .long_road {
        font-size: 5vw;
        line-height: 5.5vw;
    }
    .feature-area{
        padding-top: 8vw;
    }
    .feature-area .icon{
        font-size: 10vw;
    }
    .feature-area .desc h2{
        font-size: 3vw;
        margin-bottom: 10vw;
    }
    .footer-bottom .footer-text{
        font-size: 10px;
    }
    .english .feature-area .desc h2{
        font-size: 2vw;
        margin-bottom: 10vw;
    }
    .english .single-feature{
        margin: 0 -3vw;
    }
    .english .feature-area .desc{
        margin-top: -1vw;
    }
    .shira .h2-name{
        font-size: 4vw !important; 
    }
    .shira .h2-des{
        font-size: 3vw;
    }
    .shira .feature-area{
        padding: 7vw 11vw 0vw 0vw;
    }
    .shira .feature-area .desc h2{
        margin-bottom: 7vw;
    }
    .shira .col-sm-8{
        width: 75%;
    }
}

@media (min-width: 576px){
    .container{
        max-width: none;
    }
}

.einat .banner-area {
    background: #44a4a9;
}
.einat .about-area, .einat .feature-area .overlay-bg, .einat .more, .einat footer{
    background: #706e6ee3;
}
.einat .feature-area{
    background: white;
}


.whitehill .banner-area {
    background: #20a999;
}
.whitehill .about-area, .whitehill .feature-area .overlay-bg, .whitehill .more, .whitehill footer{
    background: #E30066;
}
.whitehill .feature-area{
    background: white;
}


.shira .story-content{
    direction: rtl;
}
.shira .banner-area {
    background: #f7f2de
}
.shira .about-area, .shira .feature-area .overlay-bg, .shira .more, .shira footer{
    background: #f7f2de;
}
.shira .story-content h2, .shira .more, .shira i, .shira .feature-area .desc h2, .shira .footer-bottom .footer-text, .shira .footer-bottom .footer-text a:hover, .shira .footer-bottom .footer-text a, .shira .footer-bottom .footer-text i{
    color: #13536e;
}
.shira .about-area{
    border-top: 1px solid #13536e;
}
.shira .more, .shira .about-area{
    border-bottom: 1px solid #13536e; 
}
.shira .d-flex{
    padding: 0;
}
.shira .icon-container{
    direction: rtl;
}

